.header__logo{
	width: 142px;
	height: 33px;
	margin-top: 45px;
	margin-bottom: 41px;
}

@media screen and (max-width: 900px) {
	.header__logo{
		margin-left: 27px;
	}
}

@media screen and (max-width: 425px) {
	.header__logo{
		width: 104px;
		margin-top: 28px;
	}
}